body {
    margin: 0px;
    padding: 0px;
}
main {
    padding: 16px;
}
footer {
    padding: top 24px bottom 24px;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px black;
    padding: 16px;
}
